*{/*для всех элементов*/
    box-sizing: border-box;
}

.body{
    font-family: 'Roboto', sans-serif;
    padding-top: 44px;/*внутренний отсуп*/
}
.container{
   /* border: 1px solid red;*/
    max-width: 1200px;
    margin: auto; /*чтобы контейнер был всегда по середине, одинаковые отступы по бокам */
    margin-top: 44px;
}

.header{
    display: flex;/*все элементы выстраиваются в строку*/
    align-items: center;/*элементы относительно друг друга должны стоять по центу*/
    justify-content: space-between;/*раскидай контент так чтобы между ними было равное расстояние*/
    /* margin-top: 44px; */
    margin-bottom: 40px;
}

.input{
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    border-radius: 2px;
    font-size: 16px;/*размер шрифта внутри поля*/
    line-height: 24px;/*высота строки*/
    padding: 8px;
    padding-left: 35px;
    background-repeat: no-repeat;
    background-position: left 11px center;
}
.address-input{
    /* height: 40px; */
    /* width: 690px;  для фиксированного размера поля использовалось, но с адаптивом лучше использовать свойство ниже*/
    flex:0.8;/*занимает 80% от свободного места не зависимо от размера экрана*/
    background-image: url(../img/home.svg);
}

.buttons{
   display: flex;
   align-items: center; 
}

.button{
    display: flex;
    align-items: center;
    padding: 2px 16px;
    background: #FFFFFF;
    border: 1px solid #D9D9D9;
    box-sizing: border-box; 
    box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.0015);
    border-radius: 2px;
    color: #595959;
    font-size: 16px;
    line-height: 24px;
}

.button-primary{
    background: #1890FF;
    border: 1px solid #D9D9D9;
    color:#FFFFFF;
    margin-right: 10px;
}

.button-card-text{
    margin-right: 10px;
}


.button-icon{
    margin-right: 6px;/*оотодвинули текст вправо от иконки*/
    /* vertical-align: middle;иконка выравнивается */
}

/* .button-text{
    vertical-align: middle;/*текст и иконка в кнопке выровнялись относительно друг друга*/
/*} */

.promo{
    box-shadow: 0px 7px 12px rgba(158, 158, 163, 0.1);
    /* background: #FFF1B8 url(../img/promo-image.png);
    background-repeat:no-repeat;
    background-position: top right -200px; */
    background: #FFF1B8 url(../img/promo-image1.png) no-repeat top 10px right -200px/750px;
    border-radius: 10px;
    padding:68px 70px; 
    margin-bottom: 56px;
}

.promo-title{
    font-weight: bold;
    font-size: 39px;
    line-height: 46px;
    color: #302C34;
    /* padding-bottom: 16px; */
}

.promo-text{
    max-width: 538px;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 28px;
    color: #302C34;
}

.input-search{
    background-image: url(../img/search.svg);
    width: 300px;
    margin-left: auto;/*!!!!!!!!!!!!!!!!!!!!!!!!можно не дублировать стили*/
} 

.section-heading{
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 44px;
}

/* .section-heading_r{
    display:flex;
    align-items: center;
    margin-bottom: 44px;
} */
.section-title{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
}

/* .section-title_r{
    margin: 0;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 42px;
    color: #000000;
    margin-right: 30px;
} */

.cards{
    display:flex;
    align-items: flex-start;
    flex-wrap: wrap;/*если карточки не помещаются, будут переноситься на новую строчку*/
    justify-content: space-between;
    margin-bottom: 30px;
}

.card{
    background: #FFFFFF;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
    border-radius: 7px;
    overflow: hidden;/*скрывает всё, что вылазит за параметры карточки*/
    margin-bottom: 30px;
    /* max-width: 385px; использовалось для фиксированного макета, для адаптива лучше свойство ниже*/
    flex-basis:30%;
    text-decoration: none;
}

 .card-image{
    width: 384px;
    height: 250px;
    object-fit: cover;/*чтобы картинка сама обрезалась*/
    justify-content: space-between;
    margin-bottom: 30px;
} 



.card-text{
    padding-top: 20px;
    padding-bottom: 35px;
    padding-left: 23px;
    padding-right: 23px;
}

.card-heading{
    display: flex;
    align-items: center;/*элементы относительно друг друга должны быть по центру*/
    justify-content: space-between;/*относительно друг друга по ширине должны раскидываться*/
    margin-bottom:44px;
}

.card-title{
    font-style: normal;
    font-weight: bold;
    font-size: 24px;
    line-height: 32px;
    color: #000000;
    margin:0;
    }

.card-title-reg{
    font-style: normal;
    font-weight: 400;
}


.card-tag{
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    line-height: 20px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background:#262626;
    border-radius: 2px ;
    padding:1px 8px;
}

.card-info{
    display:flex;
    align-items:center;
    flex-wrap: wrap;/*!!!!!!!!!!!!!!!!!!!!*/
}

.card-buttons{
    display: flex;
    align-items: center;
    margin-top:24px;
}

.card-price-bold{
    font-style: normal;
    font-weight: bold;
    font-size: 20px;
    line-height: 32px;
    color: #000000;
    margin-left: 30px;
}

 .raiting{
   margin-right: 26px;
   color: #FFC107;
   font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 32px;
}

.price, .catagory{
    color: #8C8C8C;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

.price{
    margin-right: 10px;
}

.catagory{
    /*свойство css скрывает часть слишком длинного текса*/
    text-overflow: ellipsis;
    overflow: hidden;/*всё, что вылазит за пределы текстового блока скрывается, работает со свойством выше,обязательно*/
    white-space: nowrap;/*запрет на перенос строки*/
    max-width: 150px;/*ограничение по ширине*/
}

.price:after{
    content:"";
    width: 5px;
    height: 5px;
    background-color: #8C8C8C;
    display: inline-block;/*строчно блочный элемент,чтобы он появился*/
    vertical-align: middle;/*чтобы ровно по-середине*/
    border-radius: 50%;/*скругление*/
    margin-left:10px;/*двигаем относительно левого края*/
}

.ingridiens{
    
    color: #8C8C8C;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 32px;
}

.main{
    background: linear-gradient(180deg, rgba(245, 245, 245, 0) 1.04%, #F5F5F5 100%);
}

.footer{
    padding: 60px 0;/*внутренний отступ сверху и снизу 60 пх. слева и српава ноль*/
}

.footer-block{
    display:flex;
    align-items: center;
    justify-content: space-between;
}

.footer-nav{
    margin-left:35px;
    margin-right:auto;
}

.footer-link{
    display: inline-block;
    color: #595959;
    text-decoration: none;/*избавляемся от подчёркивания ссылок*/
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 21px;
}

.footer-link:not(:last-child){/*для всех элементов футер-лин кроме последнего*/
    margin-right: 15px;
}

.social-link{
    display: flex;
    align-items: center;
    display: inline-block;
}

.social-link:not(:last-child){
    margin-right:31px;
}

/* @media(max-width:1200px){ пример медиа запросов для адаптива!!
    body{
    background-color: red;
    }
} */

@media(max-width:1366px){
    .container{
        max-width: 960px;
    }
    .promo{
        background-size: 750px;
        background-position: center right -300;
    }

    .raiting{
        margin-right:15px;
    }
    .catagory,
    .price{
        font-size:14px;
    }
}

@media(max-width:992px){
    .container{
        max-width: 750px;
    }

    .promo{
        padding:50px;
        background-size:500px;
        background-position:center right -200px;
    }

    .promo-text{
        font-size: 18px;
        max-width: 400px;
    }

    .card{
        flex-basis:49%;
    }

    .footer-link{
        font-size: 16px;
    }

}

@media (max-width:768px){
    .container{
        max-width: 560px;
    }

    .card-info{
        flex-wrap:wrap;/*возможность переносить тест на новую строку*/
    }

    .card .raiting{/*это должно быть именно внутри кард рейтинг*/
        flex-basis:100%
    }

    .card-title{
        font-size:18px;
    }

    .promo-title{
        font-size: 24px;
        line-height: 1.4;/*!!!!!!!!!!!!!!!!!!*/
    }

    .promo{
        background-size:400px;
        background-position: bottom 50px right -200px;
    }

    .promo-text{
        margin-bottom:0 ;
    }
}

@media(max-width:578px){
    .container{
        width:90%;
    }

    .header{
        flex-wrap:wrap;
    }

    .address-input{
        margin-top: 15px;
        order:5;/*чтобы строка адреса был по счёту последний, чтобы уйти вниз */
        flex:1;/*растянули элемент на всю ширину*/
    }

    .promo{
        background-image:none;
    }

    .promo-title{
        margin-bottom: 10px;
    }

    .section-title{
        font-size: 20px;
    }

    .card{
        flex-basis: 100%;
    }

    .card-image{
        max-width:100%;
    }

    .footer{
        padding: 30px 0;
    }

    .footer-block{
        align-items:flex-start;/*чтобы всё выравнивалось по верхней части*/
    }

    .footer-nav{
        order:0;
        margin-left:0;
        margin-right: 0;
        display:flex;
        flex-direction: column;/*!!!!!!!!!!!!!!!!!!!!!!!!*/
    }

    .footer-logo{
        order:1;
        margin-right: 15px;
    }

    .footer-link{
        order:2
    }
}

@media(max-width:480px){
    .button-text{
        display:none;
    }

    .button{
     min-height: 40px;   
    }

    .button-icon{
        margin:0;/*отключили отступ у кнопки*/
    }

    .promo{
        padding: 20px;/*сократили отступы*/
    }
    .section-heading{
        flex-wrap: wrap;
    }

    .footer-block{
        flex-wrap: wrap;
        flex-direction: column;
        align-items:center;
    }

    .footer-logo{
        order:0;
        margin-bottom: 20px;
    }

    .footer-nav{
       margin-bottom: 20px;
       text-align: center; 
    }

    .footer-link:not(:last-child){
        margin-right: 0;
    }
}


